[submodule "Pipelines/Refiners/r_vd_shiny_medias_prototype"]
	path = Pipelines/Refiners/r_vd_shiny_medias_prototype
	url = https://github.com/clessn/clessn-blend/Pipelines/Refiners/r_vd_shiny_medias_prototype.git
