<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>clessn.twitter_blender_mp_can</string>
  <key>UserName</key>
  <string>patrick</string>
  <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/sbin</string>
      <key>LANG</key>
      <string>fr_CA.UTF-8</string>
      <key>LC_ALL</key>
      <string>fr_CA.UTF-8</string>
    </dict>
  <key>StandardOutPath</key>
  <string>/Users/patrick/Logs/twitter_blender_mp.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/patrick/Logs/twitter_blender_mp.log</string>
  <key>Debug</key>
  <true/>
  <key>EnableGlobbing</key>
  <true/>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/sh</string>
    <string>-c</string>
    <string>$CLESSN_ROOT_DIR/clessn-blend/automation/twitter_blender.sh 3200 "file" "mp" "all" 'list(metadata.institution="House%20of%20Commons%20of%20Canada")'</string>
  </array>
  <key>StartInterval</key> 
  <integer>43200</integer>
  <key>KeepAlive</key>
  <false/>
  <key>RunAtLoad</key>
  <true/>
</dict>
</plist>
