<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>clessn.tweets-and-friends-mps</string>
  <key>UserName</key>
  <string>patrick</string>
  <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/sbin</string>
    </dict>
  <key>StandardOutPath</key>
  <string>/Users/patrick/Logs/clessn.tweets-and-friends-mps.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/patrick/Logs/clessn.tweets-and-friends-mps.log</string>
  <key>Debug</key>
  <true/>
  <key>Program</key>
  <string>/bin/sh</string>
  <key>ProgramArguments</key>
  <array>
    <string>-c</string>
    <string>/Users/patrick/Docker/r-automation/launch-tweets-and-friends.sh</string>
    <string>mps</string>
  </array>
  <key>StartInterval</key> 
  <integer>28800</integer>
  <key>KeepAlive</key>
  <false/>
  <key>RunAtLoad</key>
  <false/>
</dict>
</plist>
